/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.breadcrumb {
  background: none;
  // border: 1px solid #eee;
  border-radius: none;
  margin: -12px 0 4px 0;
  font-weight: 300;
}

.page-header h1 {
  font-weight: 200;
  small {
    font-weight: 200;
  }
}

#page {
  min-width: 670px;
}
