.testblock .row div {
    height: 300px;
    background: #333;
    color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid white;
}

.nav-stacked .badge {
    float: right;
}
